#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUN     3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

&sl { release-after-ms = <500>; };

/ {
    // custom shift using mod-morph 

    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        test2: test2 {
            compatible = "zmk,behavior-sticky-key";
            label = "TEST2";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <500>;
        };

        spacenum: spacenum {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACENUM";
            bindings = <&mo>, <&SPACE_SL>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        TYPING {
            bindings = <&lt 2 SPACE>;
            key-positions = <36 37>;
            timeout-ms = <1000>;
        };
    };

    macros {
        SPACE_SL: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &sl 1>;
            label = "NEW_MACRO";
        };

        Q_SL: Q_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Q &sl 1>;
            label = "Q_SL";
        };

        W_SL: W_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp W &sl 1>;
            label = "W_SL";
        };

        E_SL: E_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp E &sl 1>;
            label = "E_SL";
        };

        R_SL: R_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &sl 1>;
            label = "R_SL";
        };

        T_SL: T_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &sl 1>;
            label = "T_SL";
        };

        A_SL: A_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &sl 1>;
            label = "A_SL";
        };

        B_SL: B_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &sl 1>;
            label = "B_SL";
        };

        C_SL: C_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &sl 1>;
            label = "C_SL";
        };

        BK_SL: BK_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE &sl 1>;
            label = "BK_SL";
        };

        DEL_SL: DEL_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DELETE &sl 1>;
            label = "DEL_SL";
        };

        J_SL: J_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp J &sl 1>;
            label = "J_SL";
        };

        K_SL: K_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &sl 1>;
            label = "K_SL";
        };

        L_SL: L_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &sl 1>;
            label = "L_SL";
        };

        O_SL: O_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &sl 1>;
            label = "O_SL";
        };

        P_SL: P_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &sl 1>;
            label = "P_SL";
        };

        H_SL: H_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp H &sl 1>;
            label = "H_SL";
        };

        U_SL: U_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp U &sl 1>;
            label = "U_SL";
        };

        Y_SL: Y_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &sl 1>;
            label = "Y_SL";
        };

        I_SL: I_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &sl 1>;
            label = "I_SL";
        };

        S_SL: S_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &sl 1>;
            label = "S_SL";
        };

        V_SL: V_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp V &sl 1>;
            label = "V_SL";
        };

        M_SL: M_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &sl 1>;
            label = "M_SL";
        };

        N_SL: N_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &sl 1>;
            label = "N_SL";
        };

        D_SL: D_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &sl 1>;
            label = "D_SL";
        };

        F_SL: F_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F &sl 1>;
            label = "F_SL";
        };

        G_SL: G_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &sl 1>;
            label = "G_SL";
        };

        Z_SL: Z_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Z &sl 1>;
            label = "Z_SL";
        };

        X_SL: X_SL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp X &sl 1>;
            label = "X_SL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "MOS+TYPE";
            bindings = <
&kp ESC    &Q_SL      &W_SL         &E_SL        &R_SL        &T_SL                   &Y_SL        &U_SL      &I_SL      &O_SL      &P_SL      &kp BACKSPACE
&lt 2 TAB  &A_SL      &S_SL         &D_SL        &F_SL        &G_SL                   &H_SL        &mkp LCLK  &mkp MCLK  &mkp RCLK  &kp SEMI   &DEL_SL
&kp LSHFT  &Z_SL      &X_SL         &C_SL        &V_SL        &B_SL                   &N_SL        &M_SL      &kp COMMA  &kp DOT    &kp SLASH  &kp RIGHT_SHIFT
&kp LGUI   &kp LCTRL  &kp LEFT_ALT  &lt 7 SPACE  &lt 5 SPACE             &lt 4 SPACE  &lt 3 SPACE                                              &lt 6 KP_ENTER
            >;
        };

        TRANS_LAYER {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &kp J   &kp K   &kp L   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans                                  &trans
            >;

            label = "QWRT-TYPE";
        };

        number_layer {
            label = "NUM";
            bindings = <
&trans  &trans  &trans  &trans  &none   &trans              &kp PLUS   &kp N7  &kp N8  &kp N9  &kp STAR    &trans
&trans  &trans  &trans  &trans  &trans  &trans              &kp MINUS  &kp N4  &kp N5  &kp N6  &kp FSLH    &trans
&trans  &trans  &trans  &trans  &trans  &trans              &kp N0     &kp N1  &kp N2  &kp N3  &kp PERIOD  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &kp N0                                         &trans
            >;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&kp TILDE  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT               &kp CARET       &kp AMPS   &kp ASTERISK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &bootloader
&trans     &trans           &trans       &trans    &trans      &out OUT_TOG              &kp MINUS       &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp SQT                &none
&trans     &trans           &trans       &trans    &trans      &none                     &kp UNDERSCORE  &kp PLUS   &kp PIPE          &trans                &kp NON_US_BACKSLASH   &none
&trans     &trans           &trans       &trans    &trans                        &trans  &trans                                                                                    &trans
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
&bootloader  &kp F1  &kp F2   &kp F3   &kp F4   &none                 &none   &none  &none  &none  &none  &none
&none        &kp F5  &kp F6   &kp F7   &kp F8   &none                 &none   &none  &none  &none  &none  &none
&none        &kp F9  &kp F10  &kp F11  &kp F12  &kp CAPS              &none   &none  &none  &none  &none  &none
&trans       &trans  &trans   &trans   &trans                 &trans  &trans                              &trans
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans              &kp HOME  &kp PG_UP  &kp UP    &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans    &kp LEFT   &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &kp END   &kp PG_DN  &trans    &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans                                            &trans
            >;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&bootloader  &trans  &trans        &trans        &trans        &trans              &trans  &trans     &trans     &trans     &trans  &trans
&trans       &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans              &trans  &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans  &trans
&trans       &trans  &trans        &trans        &trans        &trans              &trans  &trans     &trans     &trans     &trans  &trans
&trans       &trans  &trans        &trans        &trans                    &trans  &trans                                           &trans
            >;
        };

        FULL_TYPE {
            label = "TYPING_ONLY";
            bindings = <
&trans  &kp Q   &kp W   &kp E   &kp R   &kp T              &kp Y   &kp U  &kp I      &kp O    &kp P      &kp BACKSPACE
&trans  &kp A   &kp S   &kp D   &kp F   &kp G              &kp H   &kp J  &kp K      &kp L    &kp SEMI   &kp DELETE
&trans  &kp Z   &kp X   &kp C   &kp V   &kp B              &kp N   &kp M  &kp COMMA  &kp DOT  &kp SLASH  &trans
&trans  &trans  &trans  &trans  &trans             &trans  &trans                                        &trans
            >;
        };
    };
};
